<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-master-page-dash></app-master-page-dash>
 <div class="container mt-5">
     <div class="row">
     <img src="../../assets/images/msg1.png" class="mx-auto mt-5" style="width: 150px; height: 150px;">
     </div>
     <div class="row">
        <h2 class="mx-auto mt-2" style="font-weight: 200;">Messenger</h2>
     </div>
     <div class="row">
        <h6 class="mx-auto mt-2" style="font-weight: 100;">Sign in with Facebook to get started.</h6>
     </div>
     <div class="row">
        <a  class="mx-auto btn btn-danger mt-3 p-2 px-5" style="font-weight: 100;background-color: #eb4357; font-weight: 100; color: white; border-radius: 7px;" href="http://m.me/105887431144290">      
            <img src="../../assets/images/mssg1.png" style="width: 25px;" class="mr-2"> Covid-19 chatbot
        </a>
     </div>
 </div>
</body>
</html>