.card{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgb(11, 37, 75,.10);
}
.row2{
   
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px; 
    border-radius: 30px;
  
    box-shadow: 0 .5rem 1rem rgb(11, 37, 75,.10);
    
}
.row2 p{
    
    font-family: 'Fredoka One', cursive;
    
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    
}
.row2 h1{
    
    color: #492e56;
  font-size: 40px;
  font-family: 'Baloo Bhaina 2', cursive;
  
}
h2{
    
     color: #eb4458;
    letter-spacing: 4px;
    
  font-size: 40px;
  font-family: 'Baloo Bhaina 2', cursive;
  
  
  text-transform: uppercase;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #f8f8fb;
    color: black;
    
}
.circle i{
    font-size: 30px;
}
