<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  
<app-master-page></app-master-page>

<div class="main2" id="transmission">
  <div class="container">
    <div class="col-md-12">
      <div class="txtStyletrans">
        Transmission of<span class="textTr"> COVID-19 </span>
      </div>
     
    </div>
    <div class="card-deck col-md-12 col-sm-12">
      <div class="card">
        <img src="../assets/images/im1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Person-to-person spread as close contact with infected</h5>
          <p class="card-text">The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
        </div>
      </div>
      <div class="card col-md-12 col-sm-12">
        <img src="../assets/images/im2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Touching or contact with infected surfaces or objects</h5>
          <p class="card-text">
            A person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes.
          </p>
          
        </div>
      </div>
      <div class="card col-md-12 col-sm-12">
        <img src="../assets/images/im3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Droplets that from infected person coughs or sneezes              </h5>
          <p class="card-text">The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
          
        </div>
      </div>
    </div>
  
    
  </div> 
  </div> 

  <footer class="page-footer font-small blue" id="footer">
    <div class="footer-copyright text-center py-3">© 2020 Copyright
    </div>
  </footer>
</body>
</html>
